* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: #363636;
  opacity: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #021e2e;
  border-radius: 10px;
  border: 2px solid #363636;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  overflow-x: hidden;
}

header {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
  padding: 1.1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

nav .logo {
  width: 8rem;
  height: 5rem;

  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  gap: .5rem;

  transition: all 100ms ease;
}

nav ul li a:hover {
  transform: scale(1.05);
}

header .user {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;

  cursor: pointer;
}

video {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

  opacity: 50%;
}

.library {
  margin-top: 40rem;
  padding: 0 4rem;
}

.library h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;

  color: #FFFFFF;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.5rem;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.card {
  box-shadow: 0px 0px 4.58163px 4.58163px rgba(0, 0, 0, 0.3);
  border-radius: .4rem;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.card:hover {
  outline: .5rem solid #fff;
  scale: 1.1;
}

.card img {
  width: 100%;
  display: block;
  border-radius: .4rem;
}

@media (980px <= width) {
  .mobile {
    display: none;
  }
}

@media (width <= 980px) {

  nav ul {
    gap: 3rem;
  }

  nav ul li a {
    transform: scale(1.5);
  }

  nav ul li a p {
    display: none;
  }

  .user {
    position: absolute;
    right: 4rem;
  }

  .user-name {
    display: none;
  }

  .library {
    width: 100vw;
    overflow-x: scroll;
  }

  .library::-webkit-scrollbar {
    height: .8rem;
  }

  .library::-webkit-scrollbar-track {
    background: transparent;
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }

  .library::-webkit-scrollbar-thumb {
    border: none;
  }

  .library h1 {
    position: sticky;
    top: 0;
    left: 0;
  }

  section {
    display: flex;
    width: fit-content;
    padding-bottom: 1.5rem;
  }

  .card {
    width: 314.56px;
    height: 176.14px;
  }

  .mobile {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

@media (width <= 540px) {
  #series, #movies, #originals {
    display: none;
  }
}